@charset "UTF-8";

@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=960090d4-a5f5-4ae8-98c8-b1d640c57448&fontids=904718,5664093");
@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=960090d4-a5f5-4ae8-98c8-b1d640c57448&fontids=5664150");
@font-face{
  font-family:"Georgia W01 Regular";
  src:url("../fonts/Georgia/3056c93b-ddd6-4a07-b6ac-0b3947b2ee38.woff2") format("woff2"),url("../fonts/Georgia/39a18a82-9fba-4a18-9b26-872bc05243b8.woff") format("woff");
}
@font-face{
  font-family:"Helvetica Neue LT W05 55 Roman";
  src:url("../fonts/HelveticaNeueLTStd/08b57253-2e0d-4c12-9c57-107f6c67bc49.woff2") format("woff2"),url("../fonts/HelveticaNeueLTStd/08edde9d-c27b-4731-a27f-d6cd9b01cd06.woff") format("woff");
}
@font-face{
  font-family:"Helvetica Neue LT W05_75 Bold";
  src:url("../fonts/HelveticaNeueLTStd/800da3b0-675f-465f-892d-d76cecbdd5b1.woff2") format("woff2"),url("../fonts/HelveticaNeueLTStd/7b415a05-784a-4a4c-8c94-67e9288312f5.woff") format("woff");
}

:root {
  --green-color: #007A53;
  --purple-color: #702F8A;
  --sblue-color: #5BC2E7;
  --orange-color: #E87722;
  --text-color: #3B3E3F;
  --white-color: #ffffff;
  --black-color: #000000;
  --gutter-x: 1rem;
  --gutter-y: 0;
}

h1, h2, h3, h4, h5, h6, b{font-family:"Helvetica Neue LT W05_75 Bold", Helvetica, Arial, sans-serif; font-weight: 700; letter-spacing: normal; margin-bottom: 15px;}
h1, .h1size{font-size: 65px; line-height: 70px;}
h2{font-size: 51px; line-height: 61px;}
h3{font-size: 38px; line-height: 45px;}
h4{font-size: 28px; line-height: 33px;}
h5, h6{font-size:16px; line-height: 30px;}

.row{display: flex; flex-direction: row; flex-wrap: wrap; width: 100%;}
.row > * {flex-shrink: 0; width: 100%; max-width: 100%; padding-right: calc(1rem / 2); padding-left: calc(1rem / 2); margin-top: 0;}
.col{flex: 1 0 0%;}
.row-cols-2 > * {flex: 0 0 auto; width: 50%;}
.col-2 {flex: 0 0 auto; width: 16.6666666667%;}
.col-4 {flex: 0 0 auto; width: 33.3333333333%;}
.col-5 {flex: 0 0 auto; width: 41.6666666667%;}
.col-6 {flex: 0 0 auto; width: 50%;}
.col-7 {flex: 0 0 auto; width: 58.3333333333%;}
.col-8 {flex: 0 0 auto; width: 66.6666666667%;}
.col-12 {flex: 0 0 auto; width: 100%;}
.clearfix:after{display: block; clear: both; content: "";}

p{font-family: 'Helvetica Neue LT W05 55 Roman', Helvetica, Arial, sans-serif; font-size: 21px; line-height: 30px; letter-spacing: normal; margin-bottom: 20px;}
a:hover{opacity: 1 !important;}
img {max-width: 100%; height: auto;}
sup{font-size: 100%; line-height: 100%; vertical-align: super;}
a.grn-highlights, .h1size, .pillarBox h3, .legacy-leadership h2, .legacy-leadership h3{color: #007A53;}
.plrtwo h3, .plrfour h3, .communityEmbraceLink, .keyPerform{color: #702F8A;}
.fltright{float: right;}
.upercase{text-transform: uppercase;}
.txtCenter{text-align: center;}
.txtRight{text-align: right;}
.txtLeft{text-align: left;}
.mrgTop0{margin-top: 0 !important;}
.mrgRight0{margin-right: 0 !important;}
.mrgBtmTop{margin: 50px 0;}

section{position: relative; display: flex; width:100%; padding: 30px 0;}
.container{padding: 0; width: 1130px;}
.newhr{position: relative; display: flex; width: 100%; height: 3px; background-color: #C8CACA;}
.maindiv-sustainability{position: relative; color: #3B3E3F; min-height: 100%; background-color: #FAF9F8; margin-top: 70px; overflow: hidden; font-family: 'Helvetica Neue LT W05 55 Roman', Helvetica, Arial, sans-serif;}

/* video section */
.video{position: relative; display: flex; padding: 80px 0 30px;}
video{position: relative; max-width: 100%;}

/* reimagine2030 */
.heading{position: relative; display: flex; flex-direction: row; width: 100%; background: transparent url(../images/whyreimagine2030-bg.jpg) no-repeat center; background-size: 100%; padding: 20px 20px; margin-bottom: 30px;}
.heading h1{color: #ffffff; margin-bottom: 0; text-align: left;}
.reimagine2030 .row{align-items: center; justify-content: center}
.textBox{padding-top: 20px;}
.reimagine2030 .imgBox img{max-width: 100%; max-height: 592px;}
a.grn-highlights{font-family: 'HelveticaNeueLTStd-Roman', sans-serif; font-size: 28px; line-height: 33px; text-decoration: none; margin: 0; cursor: pointer;}
.reimaginevideo{width:800px; height: 450px;}
.reimaginevideo iframe{width: 100%; height: 100%;}
.GeorgiaFont{font-family: 'Georgia Regular'; font-size: 16px; line-height: 24px;}

/* Growth Section */
.growth-chart{position: relative; display: flex; flex-direction: row; flex-wrap: wrap; width: calc(100% - 1px); height: auto; margin-top: 50px; background: transparent url(../images/growth-plan-chart.png) no-repeat; background-size: auto 100%; background-position: right top;}
.chart-circle{position: relative; width: 380px; height:380px; background-color: #FAF9F8; border-radius: 100%; padding: 20px 20px 20px 18px; z-index: 3;}
.chart-circle::before{content: ''; position: absolute; width: 343px; height: 343px; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; border: 2px solid #D4AF37; z-index: 1;}
.circle-txt{position: relative; width: 300px; height: 300px; margin: 0 auto; text-align: center;}
.chrt-kplogo{position: relative; width: 110px; height: auto; margin-top: 50px;}
.vsn-misn-row{width: 100%;height: auto; display: flex; flex-direction: column; margin-top: 25px;}
.visonbox, .missonbox{position: relative; width: 100%; height: auto; padding: 0 32px 20px;}
.visonbox h5, .missonbox h5{margin-bottom: 10px;}
.circle-txt .GeorgiaFont{font-size: 14px; line-height: 14px; color: #3B3E3F; font-style: italic; margin-bottom: 0;}
.chart-mdle-box{position: relative; width: 583px; height: 380px; margin-left: -190px; border-radius: 0 190px 190px 0; overflow: hidden; z-index: 2;}
.chrt-pilrbox{position: relative; width: 100%; min-height: 95px; padding: 7px 12px;}
.one{background-color: #702F8A; color: #ffffff;}
.two{background-color: #5BC2E7; color: #000000;}
.three{background-color: #007A53; color: #ffffff;}
.four{background-color: #E87722; color: #000000;}
.chrt-pilrtxt{margin-left: 190px;}
.chrt-pilrtxt h6{font-size: 12px; line-height: 14px; margin-bottom: 6px;}
.pilrul{ padding-left: 16px; font-size: 12px; line-height: 14px;}
.mobileimg{display: none;}

/* Pillars section*/
.pillarBox{width: 100%; height: auto; margin-bottom: 40px;}
.pilr-titl{width: 100%; height: auto; padding: 13px 20px 17px; border-radius: 0 45px 45px 0; margin-bottom: 30px;}
.pilr-titl h2{margin-bottom: 0; text-align: left;}
.pillarBox h3{margin:40px 0 15px}
.pillarBox h4 span{font-family: 'Helvetica Neue LT W05 55 Roman'; font-size: 28px; line-height: 33px; font-weight: 400;}
.pillarBox h4 sup{font-size: 20px; line-height: 20px; vertical-align: super;}
.brndPack{width: 940px; height: auto; margin: 30px 0 40px;}
.spcal-note{font-size: 13px; line-height: 16px;}
.factoryImg{width: 933px; height: auto; margin: 30px auto;}
.mrgTop50{margin-top: 50px;}
.communityEmbraceLink, .keyPerform{font-style: italic; text-decoration: none;}
.communityrinkimg{align-self: flex-end;}
.plrfour{margin-bottom: 20px;}

/* Legacy of Progress and Leadership */
.progressChart{width: 100%; height: auto; margin: 50px auto 0px; padding: 0 0 0 90px;}
.progressChart .row{align-items: center;}
.progressBox{display: flex; align-items: center; margin-bottom: 60px; margin-right: 30px;}
.progressimg{width: 130px; height: 192px; margin-right: 1.5rem;}
.progressbody .vsYear{font-size: 14px; line-height: 16px;}
.legacy-leadership .georFont20{font-size: 20px; line-height: 30px;}
.footprintChart{margin: 0 0 40px;}
.keyPerform{color: #007A53;}

/* Reports and Resources */
.Reports-section{padding-bottom: 80px;}
.Reports-section h2{color: #702F8A;}
.policies-section h2{color: #007A53;}
.reportsBox, .policiesBox{min-height: 279px; padding: 10px 10px 10px; background: transparent url(../images/reportbg.jpg) no-repeat left top; background-size: 100% 100%;; border: 1px solid #702F8A; border-top: 10px solid #702F8A; text-align: center;}
.rprtone .reportsBox{background-image: url(../images/kruger_2022_SR_cover_image.jpeg);}
.rpr2021 .reportsBox{background-image: url(../images/report2021-bg.png);}
.rprttwo .reportsBox{background-image: url(../images/report2020-bg.jpg);}
.rprtthree .reportsBox{background-image: url(../images/ghgassurance.jpg);}
.rprtfour .reportsBox{background-image: url(../images/FSCcertificate-bg.jpg);}
.rprtfive .reportsBox{background-image: url(../images/SFIcertificate-bg.jpg);}
.policiesBox{padding: 20px 15px; min-height: 340px; border-color: #007A53;}
.plcyone .policiesBox{background-image: url(../images/CodeofBusinessConductandEthics-bg.jpg);}
.plcytwo .policiesBox{background-image: url(../images/EnvironmentalPolicy-bg.jpg);}
.plcyfour .policiesBox{background-image: url(../images/SupplierSustainabilityPolicy-bg.jpg);}
.reportsBox h6, .policiesBox h6 {font-size: 16px; line-height: 20px; color: #ffffff; min-height: 190px;}
.rprttwo .reportsBox h6, .rpr2021 .reportsBox h6, .rprtone h6 {color: #3B3E3F;}
.policiesBox h6{ font-size: 21px; line-height: 30px; min-height: 220px;}
.reportsBox .downlaod-pdf, .policiesBox .downlaod-pdf{display: block; background-color: #702F8A; font-size: 15px; line-height: 15px; letter-spacing: 0.03em; padding: 14px 4px; text-transform: uppercase; color: #fff;}
.policiesBox .downlaod-pdf{background-color: #007A53;}
.reportsBox .downlaod-pdf:hover, .policiesBox .downlaod-pdf:hover{background-color: #5BC2E7; animation: bounce 1s;}

@keyframes bounce {
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-8px);
      -moz-transform: translateY(-8px);
      -o-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    80% {
      -webkit-transform: translateY(-4px);
      -moz-transform: translateY(-4px);
      -o-transform: translateY(-4px);
      transform: translateY(-4px);
    }
}

@media screen and (max-width:1279px){
    .container{width: 100%; padding: 0 25px;}
    .reportsBox h6{min-height: 173px;}
}

@media screen and (max-width:1024px){
    h1, .h1size{font-size: 48px; line-height: 58px;}
    .reportsBox, .policiesBox{margin-right: 0;}

    /* growth chart */
    .chart-circle{width: 325px; height: 325px; padding: 14px 15px 15px 12px;}
    .chart-circle::before{width: 298px; height: 298px;}
    .chrt-kplogo{margin-top: 45px;}
    .vsn-misn-row{margin-top: 20px;}
    .chart-mdle-box{ width: 507px; height: 325px; margin-left: -165px;}
    .chrt-pilrbox{padding: 9px 6px; min-height: 82px;}
    .chrt-pilrtxt{margin-left: 165px;}
    .chrt-pilrtxt h6{font-size: 13px; line-height: 13px;}
    .pilrul{font-size: 13px; line-height: 15px;}

}

@media screen and (max-width:834px){

    .col-4, .col-5, .col-6, .col-7, .col-8{flex: 0 0 auto; width: 100%; margin: 0;}
    .col-2{flex: 0 0 auto; width: 100%; margin-right: 0;}
    .reimaginevideo{width: 640px; height: 360px;}

    /* growth chart */
    .growth-chart{flex-direction: column; align-items: center; width: 325px; height: 1260px; margin: 0 auto; overflow: visible; background-image: url(../images/growth-plan-chart-mob.png); background-size: 100%; background-position: left bottom;}
    .chart-mdle-box{width: 325px; height: 640px; margin-left: 0; margin-top: -162px; border-radius: 0 0 162px 162px;}
    .chrt-pilrbox.one .chrt-pilrtxt{margin-top: 162px; margin-left: 30px;}
    .chrt-pilrtxt{margin-left: 30px;}
    .chrt-pilrbox.four .chrt-pilrtxt{margin-bottom: 162px;}
    .chrt-pilrtxt h6{font-size: 16px; line-height: 16px;}
    .pilrul{font-size: 14px; line-height: 16px;}

    .tpforest, .pilrthree-img-box, .communityrinkimg{order: 1;}
    .pilrone-cntnt-box, .pilrthree-cntnt-box, .pilrfour-cntnt-box{order:2}
    .hatgirl{margin: 0 0 30px;}
    .solarpanelgirl{margin: 0 0 30px;}
    .diversityBox, .EmpVolunteer{margin-top: 0;}
    .progressChart{padding-left: 0;}
    .mb4{margin-bottom: 1rem!important;}
    .Reports-section .row .col{flex: 0 0 auto; width: 33.3333333333%;}
    .policies-section .row .col{flex: 0 0 auto; width: 50%;}
    .reportsBox{min-height: 325px;}
    .reportsBox h6{min-height: 220px;}
    .policiesBox h6{min-height: 150px;}
    /* .mobileimg{display: block;} */

}

@media screen and (max-width:768px){
  .pilr-titl h2{
    font-size: 40px; line-height: 48px;
  }
  h3{font-size: 35px; line-height: 36px;}


    /* 2022-09-08 added mobile adjustment for visionbox */
    .boxFix{font-size: 13px !important; }

    .boxAppear{display: block !important;}
}

@media screen and (max-width:699px){
  .reimaginevideo{
    width:440px;
   height:260px;
  }
  .row-cols-2 > *{
    flex: 0 0 auto; width: 100%;
  }
  .Reports-section .row .col{
    flex: 0 0 auto; width: 50%;
  }
  .progressChart{
    width: 340px;
    margin: 0 auto;
  }
  .progressBox{
    width: 360px;
    margin-right: 0;
  }
  .progressimg{
    width: 100px;
    height:147.82px;
  }
  .prgres58{order: 1;}
  .prgres15{order: 2;}
  .prgres37{order: 3;}
  .prgres26{order: 4;}
  .prgres100{order: 5;}
  .prgresfsc{order: 6;}


}

@media screen and (max-width:640px){
    h2{font-size: 45px; line-height: 54px;}
    .video{padding: 40px 0 30px;}

}

@media screen and (max-width:450px){
  h1{font-size: 38px; line-height: 46px;}
  .h1size{font-size: 45px; line-height: 54px;}
  .pilr-titl h2, h3{font-size: 29px; line-height: 35px;}
  h4{font-size: 21px; line-height: 25px;}
  a.grn-highlights, .pillarBox h4 span{font-size: 21px; line-height: 30px;}
  .EmpVolunteer{margin-top: 30px;}
  .progressChart{width: 100%;}
  .progressBox{width: 100%; flex-direction: column; margin-bottom: 30px;}
  .progressimg{margin-right: 0; margin-bottom: 20px;}
  .reportsBox{min-height: 245px;}
  .reportsBox h6{min-height: 150px;}
  .reportsBox .downlaod-pdf{font-size: 14px; line-height: 14px;}
  .reimaginevideo{
    width:340px;
   height:260px;
  }

}

@media screen and (max-width:375px){
  .policies-section .row .col, .Reports-section .row .col{ flex: 0 0 auto; width: 100%; }
}
